/*
*  styles for color-related elements
 */
.color-container{
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.color-container > div:nth-child(odd) {
    background-color: #f8f9fa;
}
.color-row {
    width: 100%;
    min-height: 35px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e4f1fe;
}

.color-row-header {
    font-weight: bold;
    font-size: 14px;
    color: #22252c;
    background-color: #cccccc !important;
    border-top: 1px solid #e4f1fe;
}

.color-row .color-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.color-info div {
    margin-right: 2px;
}

.color-id {
    width: 10%;
}

.color-name {
    width: 20%;
}

/* styles for the add color row */
.color-row input {
    border: 1px solid #cccccc;
    width: 100%;
    padding: 0px 5px;
}


/* styles for edit and delete buttons */

.color-row .color-buttons {
    min-width: 190px;
    text-align: right;
}

button.button-light {
    margin: 0px 2px;
    width: 75px;
    border: #4D90C6 solid 1px;
    border-radius: 0.25rem;
}

button.button-create {
    margin: 0px 2px;
    padding: 2px 10px;
    border: #4D90C6 solid 1px;
    border-radius: 0.25rem;
}

button.button-light:hover,
button.button-create:hover
{
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

button:disabled,
button[disabled],
button:disabled:hover {
    border-color: #cccccc;
    background-color: rgba(239, 239, 239, 0.3);
    color: rgba(16, 16, 16, 0.3)
}

/* styles for the create and edit color forms */
.form-color .form-group {
    display: flex;
    padding: 10px 5px;
}

.form-color .form-group label {
    width: 100px;
    margin-top: 6px;
    margin-right: 10px;
    text-align: right;
    font-weight: 500;
}

.form-color .form-group input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-color-errors {
    font-size: small;
    color: red;
}